<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">About</h1>
          <section>
          <br>
          <h3><b><i>"One Man's junk is another Man's treasure!"</i></b><h3><br>
          </section>
          <img src="https://gavinsimms.com/images/IMG_2819.jpeg" style="max-width:28%;" alt="Picture of Gavin" class="img-thumbnail"><br><br>
          <p>Hi, my name is Gavin, in 2020 whilst torturing myself by putting myself through a Coding Bootcamp I thought to myself there must be a way to combine convincing my Wife and In-Laws to flog all their junk and for other hoarders to buy their auld tatt.
        iGarageSale is designed for you to list your junk quickly, but also for you to buy other peoples junk quickly!
          It's a simple three step process for everyone. Simply Sign up and SPell or Sign up and buy... Or both! (<b><i>technically I guess it only needs to be two steps!</i></b>)</p>
          <p><a class="btn btn-primary btn-lg" <%= link_to "Sign up NOW! »", new_user_registration_path %></a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Step 1</h2>
            <p> Do you want to buy or sell stuff on iGarageSale? Then this is the simple part, simply click on the button below to start the sign up process. You'll need to give us your email address, set up a password and some other details, then you're ready to start!</p>
            <p><a class="btn btn-secondary" <%= link_to "Sign up! »", new_user_registration_path %></a></p>
          </div>
          <div class="col-md-4">
            <h2>Step 2</h2>
            <p>Do you want to list some junk to sell? Once you've finished step one, click here and list your junk!</p>
            <p><a class="btn btn-secondary" <%= link_to "Sell something! »", new_item_path %></a></p>
          </div>
          <div class="col-md-4">
            <h2>Step 3</h2>
            <p>Are you a hoarder? Wait, we know you are! You junk loving pervert...  Click here to look at the junk others have on offer... We know you want some junk in your trunk! Once you've finished Step 1. click here to look through the ever growing list of junk available on iGarageSale</p>
            <p><a class="btn btn-secondary" <%= link_to "Buy junk! »", items_path %></a></p>
          </div>
        </div>
        <hr>

      </div> <!-- /container -->

    </main>
