<%= form_with(model: state, url: states_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>
