<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>© iGarageSale 2020</p>
    <p>Go on get selling!</p>
  </div>
</footer>