<h1>Worked!</h1>
<h2>Success!</h2>

Hi <%=current_user.profile.first_name%>,

You have successfully purchased a <%= @item.title %>, with the transaction id of 

You will be posted this item to your current address of:  by the seller <%= @item.profile.first_name%>

If you have any issues please email us at whatever@whatever.com quoting your transaction id in the subject line and a description of your problem in the body of the email.

<% link_to "Items", items_path%>